.button {
    -fx-font-weight: bold;
	-fx-background-color:#FFFFFF;
}

.label {
    -fx-font-style: italic bold;
 	-fx-text-fill: #FFFFFF;
}

.comboBox {
	-fx-background-color:#FFFFFF;
}

.mainBackgroundColor
{
	-fx-background-color:#1f497d;
}

.menuItems
{
	-fx-font-style: italic bold;
	-fx-text-fill: #000000;
	-fx-background-color:#1f497d;
}
.menuItems:hover
{
	-fx-background-color:#3f3f3f;
}

.button:hover {
    -fx-background-color: #EEEEEE;
}

.column-header
{
	-fx-background-color:#1f497d;
 	-fx-text-fill: #FFFFFF;
	-fx-font-style: italic bold;
	-fx-border-color: #FFFFFF;
}


